src_maui/MauiApp/.vs/
src_maui/MauiApp/MauiApp/bin/
src_maui/MauiApp/MauiApp/obj/Debug/net6.0-android/mauiimage.stamp
src_maui/MauiApp/MauiApp/obj/
src_maui/MauiBlazor/MauiBlazorApp/MauiBlazorApp/.vs/
src_maui/MauiBlazor/MauiBlazorApp/MauiBlazorApp/bin/
src_maui/MauiBlazor/MauiBlazorApp/MauiBlazorApp/obj/
reactNative/reactNativeDesktop/ios/
reactNative/reactNativeDesktop/android/
reactNative/reactNativeDesktop/windows/
reactNative/reactNativeDesktop/.vscode/
reactNative/reactNativeDesktop/msbuild.binlog
